* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* inizio debug */

.debug {


  .navbar {

    background-color: #d9a521;
    border: dashed black;


  }

  .blocco-blu {
    background-color: #2323c2;
  }

  .quadrato-rosa {
    border: dashed black;
    background-color: #ed82ed;
  }

  .blocco-bianco {
    background-color: #ffffff;
  }

  .quadrato-celeste {
    border: dashed black;
    background-color: #1e91fc;
    height: 250px;
  }

  .quadrato-rosa-chiaro {
    border: dashed black;
    background-color: #ffbfca;
  }


  .blocco-grigio {
    background-color: #9a9898;
  }

  .quadrato-verde {
    background-color: #228c23;
    border: dashed black;
  }

  .blocco-nero {
    background-color: #000000;
  }

  .quadrato-pesca {
    border: dashed black;
    background-color: #f07f7f;
  }

  .q1 {
    border: dashed rgb(255, 255, 255);
    background-color: #22b3ab;



  }

  .q2 {
    border: dashed rgb(255, 255, 255);
    background-color: #22b3ab;



  }

  .q3 {
    border: dashed rgb(255, 255, 255);
    background-color: #22b3ab;



  }

  .q4 {
    border: dashed rgb(255, 255, 255);
    background-color: #22b3ab;

  }

  .blocco-nero2 {
    border-top: solid white;
    border-bottom: solid white;
    background-color: #000000;

  }

  .footer-info {
    background-color: #23c8c0;

  }

  .foot-logo {
    background-color: #ffbfca;
    border: dashed black;

  }

  .foot-bottom {
    background-color: #ffbfca;
    border: dashed black;
  }

}

/* chiusura debug */


.nav-link {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-login {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 6px 10px;
}

.nav-login a {
  color: black
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: small;
}

.blocco-blu {
  background-image: url("../assets-discord/jumbo.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 25px;

}

.quadrato-rosa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 80%;
  margin: 25px auto;
  align-items: center;
}

.divisore img {
  width: 100%;
  padding-top: 100px;
  filter: brightness(0) saturate(100%) invert(200%) sepia(0%) saturate(0%) hue-rotate(48deg) brightness(96%) contrast(87%);
  vertical-align: bottom;
}

.divisore h1 {
  background-color: #9a9898;
  text-align: center;
}

.divisoreRevert img {
  width: 100%;
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(200%) sepia(0%) saturate(0%) hue-rotate(48deg) brightness(96%) contrast(87%);

}

.titolo-centrale {
  text-align: center;
  font-size: x-large;
  padding: 20px 0px;

}

.descrizione-testo {
  text-align: center;
  font-size: small;
  padding-bottom: 15px;
  line-height: 20px;
}

.bottoni {
  display: flex;
  gap: 2rem;
  justify-content: center;

}

.bottoni button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.scarica-Mac a {
  color: black;
}

.apri-discord,
.apri-discord>a {
  background-color: #2f2e2e;
  color: white;
}

.blocco-bianco {
  width: 100%;
  height: 250px;

}


.quadrato-celeste {
  width: 45%;
}

.quadrato-rosa-chiaro {
  /* width: 40%; */
  /* height: 250px; */
  /* text-align: left; */
  font-size: 17px;
  padding-top: 20px;
}

.quadrato-rosa-chiaro p {
  font-size: 10px;
  line-height: 20px;
}

h1 {
  margin-bottom: 20px;
}

.blocco-grigio {
  padding: 10px 0px;
  background-color: #e3e3e3;
  fill: #d4d4d4;
  background-size: cover;
  /* /* background-position: center; */

}

.quadrato-verde {
  height: 500px;
  width: 100%;
}

.quadrato-verde {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.quadrato-verde img {
  height: 80%;
}

.adventure {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;

}

.adventure button {
  background-color: #8da1e0;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
}

.adventure {
  background-image: url("../assets-discord/stars.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.adventure a {
  color: white;
}

.imgText {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white
}

.imgText img {
  width: 20px;
}

.icon {
  display: flex;
  gap: 1rem;
  color: white;
}

.imgText p {
  font-size: 10px;
}

.quadrato-pesca h2,
.quadrato-colonne span {
  color: #8da1e0;
  font-weight: 900;
}

.quadrato-colonne ul {
  list-style: none;
  font-size: small;
  line-height: 20px;
  color: white;
}

.blocco-nero {
  padding: 50px 0px;
  background-color: #24272b;

}

.divisione-qc {
  max-width: 700px;
  margin: 0 auto;
}

.quadrato-pesca {
  width: 30%;
  height: 250px;
}


.q1 {
  height: 250px;
  width: 25%;


}

.q2 {
  height: 250px;
  width: 25%;


}

.q3 {
  height: 250px;
  width: 25%;


}

.q4 {
  height: 250px;
  width: 25%;
}


.blocco-nero2 {
  width: 100%;
  padding: 10px;
  background-color: #24272b;

}

.hr-viola {
  border: 1px solid #3160e0;
  width: 80%;
  margin: 0 auto;

}

.footer-info {
  padding: 10px 0px;
  width: 700px;
  margin: 0 auto;
}

.foot-logo {
  padding: 5px;
}

.foot-bottom {
  padding: 5px;
}



.bg-primary {
  background-color: #3160e0;
}


.divisione-quadrati {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  width: 80%;
  max-width: 1200px;
}

.quadrato-colonne {
  display: flex;
  width: 70%;
}

.divisione-qc {
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-login {
  border: 1px solid white;
  background-color: #3160e0;
  border-radius: 20px;
  padding: 0 15px;


}

.footer-login a {
  color: white;
}